@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-800 font-sans text-base;
}

.scrolled {
  @apply bg-orange-100 bg-opacity-70;
}

.open {
  transition: all 0.3s;
}

.humbuger {
  transform: translateX(110%);
  transition: all 0.3s;
}

.menuOpen {
  transform: translateX(0);
}

.humbugerBackground {
  display: none;
  transition: all 0.3s;
  width: 100vh;
  height: 100vh;
  background-color: #000000;
  opacity: 0.5;
}

.bgOpen {
  display: block;
}

.closeBar:nth-child(1) {
  width: 40px;
  transform: translateX(-2px) translateY(9px) rotate(45deg);
}
.closeBar:nth-child(2) {
  opacity: 0;
}
.closeBar:nth-child(3) {
  width: 40px;
  transform: translateX(-2px) translateY(-9px) rotate(-45deg);
}

.humbugerBar {
  transition: 0.3s;
}

.sectionBoard {
  @apply bg-yellow-600 rounded-sm bg-opacity-50 shadow-md;
}

.recipeListBoard {
  @apply bg-red-50 rounded-sm bg-opacity-50 shadow-md max-w-2xl mx-auto;
}

.viewRecipeButton {
  @apply bg-red-300 bg-opacity-40 sm:px-4 px-1 py-2 rounded-sm border-solid border-gray-800 border inline-block;
}

.button:hover {
  @apply opacity-[75%];
}

.headerMenu {
  @apply lg:ml-12 ml-6  md:text-lg text-sm;
}

.homeTitleFont {
  @apply md:text-3xl sm:text-2xl text-lg md:mb-10 mb-2;
}

.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s;
}

.slide-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-right-exit-active {
  transform: translateX(100%);
  transition: transform 0.3s;
}

.scroll-top-button-container {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 999;
}

.scroll-top-button-transition {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
